{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load tz %}
{% block title %}
{% trans "News" %}
{% endblock title %}

{% load custom_filters %}
{% load custom_tags %}
{% load cache %}
{% cache 30 content %}
{% block content %}
        <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}

    <h1>Новости</h1>
    <hr>
    {% if perms.simpeapp.add_news %}
    <a href="{% url 'news_create' %}">Добавить товар</a>
    {% endif %}
    {% if news %}
        <div style="text-align: center;">
        <table cellpadding = '13' style="font-size: 20px;" >
            {% for post in news %}
            <tr>
            <tr>
                <td>{{ post.name|censor }}</td>
                <td>{{ post.dateCreation|date:'d M Y'  }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
                {% if perms.simpeapp.change_news or perms.simpeapp.delete_news %}
                <td>Действия
                    <br>
                {% endif %}
                {% if perms.simpeapp.change_news %}
                    <a href="{% url 'news_update' post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.simpeapp.delete_news %}
                    <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    {% else %}
        <h2> Новостей нет </h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
{% endcache %}
